<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>album_id</key>
		<string>271733407</string>
		<key>all_artist_id</key>
		<string>1007,670,91,80</string>
		<key>artist_id</key>
		<string>1007</string>
		<key>author</key>
		<string>吴斌,马海生,俞思远,王啸坤</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/f42a394306048a9d71b0fec5c94fc1f5/271733008/271733008.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/b4eae1f20b257088c256e41b4715fe8b/271733005/271733005.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/3b544dda390414fad0bdb361a8c262b6/271733012/271733012.jpg</string>
		<key>publishcompany</key>
		<string>海蝶音乐</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>不遇见</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271695572</string>
		<key>all_artist_id</key>
		<string>530,902</string>
		<key>artist_id</key>
		<string>530</string>
		<key>author</key>
		<string>刘维,袁成杰</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>1</string>
		<key>is_first_publish</key>
		<string>1</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/99172c6d698702854348e273026b846a/271695486/271695486.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/ebfeee3cc1c87fa9bfd5685222dfd30f/271695483/271695483.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/d3ed7d76feb616381fd02c923a933a45/271695489/271695489.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>大包子</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271696828</string>
		<key>all_artist_id</key>
		<string>69,271696824</string>
		<key>artist_id</key>
		<string>69</string>
		<key>author</key>
		<string>王心凌,佟梦实</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/184254f98fa27396ea386c4fed51a6e9/271695707/271695707.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/739add5663d80d444058df131e828894/271695704/271695704.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/3b3a394bc2df1b3b1b29e266f6620339/271695710/271695710.jpg</string>
		<key>publishcompany</key>
		<string>觉得文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>冤家路窄</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271628313</string>
		<key>all_artist_id</key>
		<string>26695218</string>
		<key>artist_id</key>
		<string>26695218</string>
		<key>author</key>
		<string>The Invisible</string>
		<key>country</key>
		<string>欧美</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/de91f92cfa340e314fc6094351ed8e78/271627411/271627411.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/cd2b7808daf7c191ed19e1d7dc81b1f4/271627407/271627407.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/7724884e7ed0f654c7b7acc1c1652703/271627421/271627421.jpg</string>
		<key>publishcompany</key>
		<string>看见网络</string>
		<key>songs_total</key>
		<string>3</string>
		<key>title</key>
		<string>Life's Dancers</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271663956</string>
		<key>all_artist_id</key>
		<string>892</string>
		<key>artist_id</key>
		<string>892</string>
		<key>author</key>
		<string>方大同</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/3365d916197fd7592c35bc0a037c9818/271663852/271663852.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/9302bd63127057c1240bd177dada27a5/271663849/271663849.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/99d8c4a7a4ccde10d2517087ddf165a0/271663855/271663855.jpg</string>
		<key>publishcompany</key>
		<string>太合麦田</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>很不低调</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271659864</string>
		<key>all_artist_id</key>
		<string>26832</string>
		<key>artist_id</key>
		<string>26832</string>
		<key>author</key>
		<string>K.Will</string>
		<key>country</key>
		<string>韩国</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/d7ca62db842d6ca7a0445c2bcae9d0e7/271659842/271659842.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/6f4fcd17c41af0d18a618c4951755821/271659839/271659839.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/9794d7be4d15214caa97de7698759339/271659845/271659845.jpg</string>
		<key>publishcompany</key>
		<string>KBS</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>云画的月光 OST Part 6</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271628936</string>
		<key>all_artist_id</key>
		<string>12381018</string>
		<key>artist_id</key>
		<string>12381018</string>
		<key>author</key>
		<string>崔子格</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/5ac00c0babb355bfbc714231ca4f06d6/271628854/271628854.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/33a0b031ea7ec561e6802fcd73fb47f7/271628845/271628845.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/d473e37b201e8dc04a7768b85842a3d9/271628861/271628861.jpg</string>
		<key>publishcompany</key>
		<string>看见网络</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>小喇叭</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271633034</string>
		<key>all_artist_id</key>
		<string>59821245,7353993</string>
		<key>artist_id</key>
		<string>59821245</string>
		<key>author</key>
		<string>王诗安,薛仕凌</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/81294df62d2016b92a2c56a990abd515/271632807/271632807.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/4f52341087ca16ce41578150134c2473/271632803/271632803.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/9a6b5975a30147e618a35162c83435a4/271632811/271632811.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>Home Remix</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271632079</string>
		<key>all_artist_id</key>
		<string>52747</string>
		<key>artist_id</key>
		<string>52747</string>
		<key>author</key>
		<string>孙子涵</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/433a8490a05935b75801422b5afdb9bf/271631885/271631885.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/0786717ca51ac2549bad66e882bb44f3/271631882/271631882.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/87072205c28f353482279f57a41ebbe5/271631888/271631888.jpg</string>
		<key>publishcompany</key>
		<string>简单快乐文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>回忆那么伤</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271490971</string>
		<key>all_artist_id</key>
		<string>1962</string>
		<key>artist_id</key>
		<string>1962</string>
		<key>author</key>
		<string>简迷离</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/ded515d37dbb6b3f46ee0ba60fae32da/271490247/271490247.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/fdc1729553c765406a9d7a8a4a3c7dee/271490244/271490244.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/a6bfd2f68d23043a79abc2d7f3d69c2d/271490252/271490252.jpg</string>
		<key>publishcompany</key>
		<string>太合麦田</string>
		<key>songs_total</key>
		<string>3</string>
		<key>title</key>
		<string>简 GEneration</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>271553878</string>
		<key>all_artist_id</key>
		<string>7</string>
		<key>artist_id</key>
		<string>7</string>
		<key>author</key>
		<string>孙燕姿</string>
		<key>country</key>
		<string>其他</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/c27da14104adff4204f1b5b7210da3c1/271553884/271553884.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/6c8d8988f5b8cba20eb457c616d5be41/271553882/271553882.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/0fe1bf4a183bcb04e3141375b645a442/271553886/271553886.jpg</string>
		<key>publishcompany</key>
		<string>环球唱片</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>彩虹金刚</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270945500</string>
		<key>all_artist_id</key>
		<string>266602769</string>
		<key>artist_id</key>
		<string>266602769</string>
		<key>author</key>
		<string>T榜</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/13afa3dad024d0a4f36a4a8f087b5bdb/270942241/270942241.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/929e71025e695a526f3fe8c0f85bed7a/270942238/270942238.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/0e07f2f01451f7a5cde639d126e8b0cb/270942244/270942244.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>10</string>
		<key>title</key>
		<string>T榜第六期</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270973920</string>
		<key>all_artist_id</key>
		<string>362</string>
		<key>artist_id</key>
		<string>362</string>
		<key>author</key>
		<string>韩红</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/d743415ce7f058d5ec5ebcfdda6f7cdc/270973904/270973904.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/b8a46848c5e548ae986b1e308ebf613b/270973901/270973901.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/26adb10cdb536f883a975b438d53a2ba/270973907/270973907.jpg</string>
		<key>publishcompany</key>
		<string>奈特文化</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>灵犀一动</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270925806</string>
		<key>all_artist_id</key>
		<string>54172</string>
		<key>artist_id</key>
		<string>54172</string>
		<key>author</key>
		<string>成时京</string>
		<key>country</key>
		<string>韩国</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/017fc3a3532331e823f64ea204d3f978/270925189/270925189.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/eefde9699b6945bebc69be8bececcf69/270925186/270925186.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/109d33a3626e4a5b94c48bdffe974355/270925194/270925194.jpg</string>
		<key>publishcompany</key>
		<string>KBS</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>云画的月光 OST Part 5</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270884790</string>
		<key>all_artist_id</key>
		<string>20633953</string>
		<key>artist_id</key>
		<string>20633953</string>
		<key>author</key>
		<string>好妹妹乐队</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/844e73b793f40f3010ccc8bfe08ed1c6/270884621/270884621.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/828aef1a52ec003f008bec84af62448c/270884618/270884618.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/4eec585878dfd5ea54e50f383bf8ab86/270884624/270884624.jpg</string>
		<key>publishcompany</key>
		<string>好靓文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>月</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270881634</string>
		<key>all_artist_id</key>
		<string>1449</string>
		<key>artist_id</key>
		<string>1449</string>
		<key>author</key>
		<string>郭峰</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/8add97d619596c41cfa27830f86e8e56/270881492/270881492.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/5113c4d3efed6a839eda69130b167bfe/270881489/270881489.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/8d15c71419becbe0d3cc8914bf5d3344/270881495/270881495.jpg</string>
		<key>publishcompany</key>
		<string>百纳娱乐</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>秋天</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270884524</string>
		<key>all_artist_id</key>
		<string>257687052</string>
		<key>artist_id</key>
		<string>257687052</string>
		<key>author</key>
		<string>IDOL SCHOOL</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/5958ac2a41b449597bcc2681a0fc7dfe/270884435/270884435.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/b66cc08569debcce4ca60de07afcf433/270884432/270884432.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/2d27205d67c7c5444217f325b6b89d9c/270884438/270884438.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>不死鸟</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270881191</string>
		<key>all_artist_id</key>
		<string>131696358</string>
		<key>artist_id</key>
		<string>131696358</string>
		<key>author</key>
		<string>Ben</string>
		<key>country</key>
		<string>韩国</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/8dab0784277fd0eed3f6df08b02106de/270880837/270880837.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/caba9db09b3e5ac32d10df574723aee1/270880832/270880832.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/568dd452ea9092f78d829e15ea1d2d55/270880841/270880841.jpg</string>
		<key>publishcompany</key>
		<string>KBS</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>云画的月光 Ost Part 4</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270861548</string>
		<key>all_artist_id</key>
		<string>53990</string>
		<key>artist_id</key>
		<string>53990</string>
		<key>author</key>
		<string>徐良</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/cc78c5f9d3b2505ddbce8a26dd16d022/270860245/270860245.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/374d878aefacdccbc5108c34782318a5/270860240/270860240.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/51decc8ec847a9199a887b1105547ae8/270860251/270860251.jpg</string>
		<key>publishcompany</key>
		<string>大象无形</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>请在哔声后留言 (dark version)</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270855189</string>
		<key>all_artist_id</key>
		<string>368,121,113275961</string>
		<key>artist_id</key>
		<string>368</string>
		<key>author</key>
		<string>刘德华,黄晓明,沈腾</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/0d244fb6a2f1a47a6259e3bfe445c073/270855090/270855090.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/3c836544af45a782a5ab4385e8043e6a/270855087/270855087.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/8de85d1150addeb4763eddf398357194/270855093/270855093.jpg</string>
		<key>publishcompany</key>
		<string>映艺文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>笑一笑</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270853045</string>
		<key>all_artist_id</key>
		<string>2021176</string>
		<key>artist_id</key>
		<string>2021176</string>
		<key>author</key>
		<string>电视原声</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/d8d6c0913e4ed14aafe6813193aad931/270852928/270852928.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/93e361ce5f4c46ed606dda937d356c46/270852925/270852925.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/8de4aae18c628e0392c453bc12f969c6/270852931/270852931.jpg</string>
		<key>publishcompany</key>
		<string>海润影视</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>终极使命 电视原声带</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270852099</string>
		<key>all_artist_id</key>
		<string>88,1709</string>
		<key>artist_id</key>
		<string>88</string>
		<key>author</key>
		<string>薛之谦,黄龄</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/c31f17e00d3625c71128234d196e490b/270852059/270852059.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/329c7b9ac629b7b8db4bef23c6578d2d/270852056/270852056.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/00620d8b800136c73a70e2e15ad2de51/270852062/270852062.jpg</string>
		<key>publishcompany</key>
		<string>百慕文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>来日方长</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270741544</string>
		<key>all_artist_id</key>
		<string>38285617</string>
		<key>artist_id</key>
		<string>38285617</string>
		<key>author</key>
		<string>王红</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>1</string>
		<key>is_first_publish</key>
		<string>1</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/c2364ebe54ad34c97db1d0af433e24b1/270741256/270741256.png</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/0fd03031842f2320fb5eef77cb4438de/270741253/270741253.png</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/39702953fab21b527c13f0453e371af2/270741259/270741259.png</string>
		<key>publishcompany</key>
		<string>汉馨九天</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>不离不弃</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270742035</string>
		<key>all_artist_id</key>
		<string>124342180</string>
		<key>artist_id</key>
		<string>124342180</string>
		<key>author</key>
		<string>1931女子偶像组合</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/66428fdcd40b85b2799448596c558800/270741837/270741837.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/b6e3e466d5c656623c79f88ebd5a0629/270741834/270741834.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/0926b1c5bc0b32ec6ad287cd492cbef0/270741840/270741840.jpg</string>
		<key>publishcompany</key>
		<string>欢聚传媒</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>我看见</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270722229</string>
		<key>all_artist_id</key>
		<string>1714</string>
		<key>artist_id</key>
		<string>1714</string>
		<key>author</key>
		<string>Lady Gaga</string>
		<key>country</key>
		<string>欧美</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/17970157c157453e41801b983b672ed0/270722337/270722337.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/d45fd5c99d1d8e544fbf3786dda7641c/270722319/270722319.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/405237363ba1d24b14595ec31a9099a5/270722347/270722347.jpg</string>
		<key>publishcompany</key>
		<string>环球唱片</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>Perfect Illusion</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270699990</string>
		<key>all_artist_id</key>
		<string>14355140</string>
		<key>artist_id</key>
		<string>14355140</string>
		<key>author</key>
		<string>华语群星</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/7baaf5b126f2040f542d780dcc498ca8/270699279/270699279.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/2f1f2c733187139c2212970b05262114/270699275/270699275.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/05eb1a714cb59425c67dba782b3a8044/270699282/270699282.jpg</string>
		<key>publishcompany</key>
		<string>米漫文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>不负时光</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>267897795</string>
		<key>all_artist_id</key>
		<string>5947606</string>
		<key>artist_id</key>
		<string>5947606</string>
		<key>author</key>
		<string>耀乐团</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/79be75df03b50c51ff668bf6ba714784/270697699/270697699.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/89d45259505772f22ce8acbaa612f218/270697696/270697696.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/f4591c6df2df4db030cac7244e391bd3/270697702/270697702.jpg</string>
		<key>publishcompany</key>
		<string>太合麦田</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>Super 耀</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270673385</string>
		<key>all_artist_id</key>
		<string>60111476,5418272</string>
		<key>artist_id</key>
		<string>60111476</string>
		<key>author</key>
		<string>贾玲,方磊</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/850bfb2a28ef2da06d5cf49c895ca030/270672781/270672781.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/3799073f3fdab176335a7ac01b6ac4a2/270672777/270672777.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/d5e94be7cdc3881c50874c8a276cb89d/270672786/270672786.jpg</string>
		<key>publishcompany</key>
		<string>看见网络</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>依兰爱情故事</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270396013</string>
		<key>all_artist_id</key>
		<string>267602794</string>
		<key>artist_id</key>
		<string>267602794</string>
		<key>author</key>
		<string>ZERO-G</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/2431866b048337605c081fa8617d0eca/270395180/270395180.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/89c4bb75908ac47a39e7b3bdfc153e29/270395177/270395177.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/584f9ea49fc84ab04088c2a6fd4eda9c/270395186/270395186.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>啊咿呀</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270634790</string>
		<key>all_artist_id</key>
		<string>119680493</string>
		<key>artist_id</key>
		<string>119680493</string>
		<key>author</key>
		<string>刘珂矣</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/9a5d0af4ed271ec9683ca4a151375c8d/270634771/270634771.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/92e697369237a3bb3e259b470c7773ff/270634768/270634768.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/892b104f0ad01b7c86c804bf22a5fed4/270634774/270634774.jpg</string>
		<key>publishcompany</key>
		<string>百慕文化</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>花笺</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270424608</string>
		<key>all_artist_id</key>
		<string>446</string>
		<key>artist_id</key>
		<string>446</string>
		<key>author</key>
		<string>果味VC</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/5f55d27e39b90f325a92d8a0176d4eec/270419989/270419989.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/65d4f69850e25bf230345f34c033de42/270419978/270419978.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/1ea18c072313014620c20f730dac6519/270419998/270419998.jpg</string>
		<key>publishcompany</key>
		<string>中产京娱</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>生命之花</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270634736</string>
		<key>all_artist_id</key>
		<string>55356</string>
		<key>artist_id</key>
		<string>55356</string>
		<key>author</key>
		<string>杨洋</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/96443362db0b4a65a8195900dbd0db1d/270634649/270634649.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/8f6389542b40dac459f66cdc0fa01620/270634646/270634646.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/3534502bcc740d1f66d0a5225d26307b/270634652/270634652.jpg</string>
		<key>publishcompany</key>
		<string>悦凯影视</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>爱是一个疯字</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270135039</string>
		<key>all_artist_id</key>
		<string>31647433</string>
		<key>artist_id</key>
		<string>31647433</string>
		<key>author</key>
		<string>孟慧圆</string>
		<key>country</key>
		<string>港台</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/ee125dfe426c9add8bc3812cf2bd4b9a/270135050/270135050.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/f8b1c1347f6246c2f584702a7da745e0/270135046/270135046.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/18200cffe5a2cf459d5b59067ad0c74e/270135054/270135054.jpg</string>
		<key>publishcompany</key>
		<string>环球唱片</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>人啊!</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>270042835</string>
		<key>all_artist_id</key>
		<string>319</string>
		<key>artist_id</key>
		<string>319</string>
		<key>author</key>
		<string>张惠春</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>1</string>
		<key>is_first_publish</key>
		<string>1</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/bbb55a9073213c5850533c8767c0bd32/270039189/270039189.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/cd3f2114cd37297d461e26b7bee5be7a/270039185/270039185.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/93a47330ddc8c74899b8ba1fcd453e8c/270039210/270039210.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>爱过了又怎样</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269957805</string>
		<key>all_artist_id</key>
		<string>269367756,263244763,68301659,117951970,269996817</string>
		<key>artist_id</key>
		<string>269367756</string>
		<key>author</key>
		<string>牛欢,华力,瞿伟,张羿凡,陈敏</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/4aa3c80eb9beb866d645357dca836367/269957370/269957370.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/42fc26815a37080f5adc11d0171c71e1/269957367/269957367.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/806fb4ec53ca7c15dc5093972d13f4c4/269957373/269957373.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>一拼到底</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269966338</string>
		<key>all_artist_id</key>
		<string>36316</string>
		<key>artist_id</key>
		<string>36316</string>
		<key>author</key>
		<string>Gummy</string>
		<key>country</key>
		<string>韩国</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/7cfe83c11d7d90b7d1773710f2ba0710/269967091/269967091.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/d53182957c90e47390a12e5ae0c6e417/269966873/269966873.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/007f540c3b16e46fc7b52453cf54e0c4/269967093/269967093.jpg</string>
		<key>publishcompany</key>
		<string>KBS</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>云画的月光 Ost Part 3</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269523430</string>
		<key>all_artist_id</key>
		<string>31862865</string>
		<key>artist_id</key>
		<string>31862865</string>
		<key>author</key>
		<string>窦靖童</string>
		<key>country</key>
		<string>港台</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/26b95f833dedfff386cabfae6dcc6866/269522314/269522314.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/672bd9495759bbf58e1627a6d3a738e8/269522311/269522311.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/3247a80fe7f9be6c89037bec0c036002/269522317/269522317.jpg</string>
		<key>publishcompany</key>
		<string>KATIE CHAN PRODUCTIONS CO.LTD</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>(It's Not A Crime) It's Just What We Do</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269606330</string>
		<key>all_artist_id</key>
		<string>855,115247953</string>
		<key>artist_id</key>
		<string>855</string>
		<key>author</key>
		<string>左小祖咒,陈升</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/0c241384502be18ab1c759510510c5e1/269606267/269606267.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/74abbffda02f3b99d8b4f07a5d9b661c/269606264/269606264.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/d04cd02b6d4bc271302f34cbb4cd9c1a/269606270/269606270.jpg</string>
		<key>publishcompany</key>
		<string>光延时代</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>不要对我有幻想</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269337172</string>
		<key>all_artist_id</key>
		<string>892</string>
		<key>artist_id</key>
		<string>892</string>
		<key>author</key>
		<string>方大同</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/0560f36ddc5fad2dde38578205630eb6/269337114/269337114.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/a8ba2ba63a88def499f85eb99f9d19f1/269337111/269337111.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/6f7c7f8235f85e7ff1492eb0d8af015f/269337117/269337117.jpg</string>
		<key>publishcompany</key>
		<string>太合麦田</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>JTW 西游记 (Black)</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269945886</string>
		<key>all_artist_id</key>
		<string>56872225</string>
		<key>artist_id</key>
		<string>56872225</string>
		<key>author</key>
		<string>苏丁琦</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/3c48942d9e4ccafb07a7b1c9ec3fc37a/269945651/269945651.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/6994ece3fc607834a1721a69cb7fa465/269945641/269945641.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/c803adf52dbca8a77d783c2ae65257d9/269945656/269945656.jpg</string>
		<key>publishcompany</key>
		<string>多耳文化</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>Tiger</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269344520</string>
		<key>all_artist_id</key>
		<string>100003771</string>
		<key>artist_id</key>
		<string>100003771</string>
		<key>author</key>
		<string>灿多</string>
		<key>country</key>
		<string>韩国</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/d69dc57ebbcf8e184cffe10b334b4b7a/269381365/269381365.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/77564a0140dccddf8991c4b488cebdf1/269381361/269381361.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/a616eafadbf1842edfd25b12bd1648d3/269381368/269381368.jpg</string>
		<key>publishcompany</key>
		<string>KBS</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>云画的月光 Ost Part 2</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269374189</string>
		<key>all_artist_id</key>
		<string>1962</string>
		<key>artist_id</key>
		<string>1962</string>
		<key>author</key>
		<string>简迷离</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/9ea2262b84fc474397925fa2913f59cc/269374178/269374178.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/1aaad35c742856acd72393eb81845987/269374175/269374175.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/136129b19ef6723babd27084b571ee8d/269374181/269374181.jpg</string>
		<key>publishcompany</key>
		<string>太合麦田</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>平行世界</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269374149</string>
		<key>all_artist_id</key>
		<string>57520</string>
		<key>artist_id</key>
		<string>57520</string>
		<key>author</key>
		<string>筷子兄弟</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/16d05120914a9abb543571b858f64588/269374129/269374129.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/c9f03e98515d1d8fd3ecd825017e61e8/269374126/269374126.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/7f4efbe3e5b18601ab7d50ca7ba914b4/269374132/269374132.jpg</string>
		<key>publishcompany</key>
		<string>听见时代</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>铁拳</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269284946</string>
		<key>all_artist_id</key>
		<string>2021176</string>
		<key>artist_id</key>
		<string>2021176</string>
		<key>author</key>
		<string>电视原声</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>1</string>
		<key>is_first_publish</key>
		<string>1</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/c571eb75449e3db90dd1ae7216cf9543/269316884/269316884.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/e9c6d2859e6ef2dc9868bffa25862752/269316880/269316880.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/ac6a327377ac573489e52bf8cd1ed404/269316887/269316887.jpg</string>
		<key>publishcompany</key>
		<string>海蝶音乐</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>亲爱的,公主病 OST</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269337370</string>
		<key>all_artist_id</key>
		<string>892</string>
		<key>artist_id</key>
		<string>892</string>
		<key>author</key>
		<string>方大同</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/ffe21ee77fb1dfc92685ad8200870d59/269337190/269337190.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/96c750876ec8d1982fc0531333bbaa76/269337187/269337187.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/61f76bf7790655deedc66370c3b893aa/269337193/269337193.jpg</string>
		<key>publishcompany</key>
		<string>太合麦田</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>JTW 西游记 (Gold)</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269259090</string>
		<key>all_artist_id</key>
		<string>257687052</string>
		<key>artist_id</key>
		<string>257687052</string>
		<key>author</key>
		<string>IDOL SCHOOL</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/9bfd1d635f314cc7f7c9f3f061eb85a3/269258752/269258752.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/f784e5ce5d5c4b3608ebdd9c68d33a24/269258749/269258749.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/b6994983aec2fa19b61ff8fb1f614b43/269258755/269258755.jpg</string>
		<key>publishcompany</key>
		<string>华宇世博</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>我不怕战斗</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269266674</string>
		<key>all_artist_id</key>
		<string>762</string>
		<key>artist_id</key>
		<string>762</string>
		<key>author</key>
		<string>龙梅子</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/12dbb642014e82f463c36c7bee539d90/269266464/269266464.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/a60486f7b841c25601ce2c26a114ba4b/269266454/269266454.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/983ade775fc4c05b91ad3a5e18558630/269266467/269266467.jpg</string>
		<key>publishcompany</key>
		<string>普天同乐</string>
		<key>songs_total</key>
		<string>2</string>
		<key>title</key>
		<string>就是让你美</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269259872</string>
		<key>all_artist_id</key>
		<string>2021176</string>
		<key>artist_id</key>
		<string>2021176</string>
		<key>author</key>
		<string>电视原声</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/f7ec87873619ba9a11f389353078bb2d/269259722/269259722.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/8037073fc510b1f91d58a2101fa06cbb/269259719/269259719.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/c7229bfef06ad6afeb3c5cef16f95fc0/269259726/269259726.jpg</string>
		<key>publishcompany</key>
		<string>听见时代</string>
		<key>songs_total</key>
		<string>0</string>
		<key>title</key>
		<string>微微一笑很倾城 电视原声带</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269259996</string>
		<key>all_artist_id</key>
		<string>101</string>
		<key>artist_id</key>
		<string>101</string>
		<key>author</key>
		<string>周传雄</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/f4d9083ee97038f58304bb8cc782cf5f/269259917/269259917.jpg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/b8753f1782e83720ade3e5df8cc6bea6/269259914/269259914.jpg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/1f533553d79209a6050d3e7755885c63/269259920/269259920.jpg</string>
		<key>publishcompany</key>
		<string>哈萨雅琪</string>
		<key>songs_total</key>
		<string>1</string>
		<key>title</key>
		<string>今宵酒醒何处</string>
	</dict>
	<dict>
		<key>album_id</key>
		<string>269262599</string>
		<key>all_artist_id</key>
		<string>2022030</string>
		<key>artist_id</key>
		<string>2022030</string>
		<key>author</key>
		<string>奇哥</string>
		<key>country</key>
		<string>内地</string>
		<key>is_exclusive</key>
		<string>0</string>
		<key>is_first_publish</key>
		<string>0</string>
		<key>is_recommend_mis</key>
		<string>0</string>
		<key>pic_big</key>
		<string>http://musicdata.baidu.com/data2/pic/f86866a48ff9c11a22b45c1da0f3df61/269260831/269260831.jpeg</string>
		<key>pic_radio</key>
		<string>http://musicdata.baidu.com/data2/pic/7855d6f74e5a08b4934934091a37e574/269260828/269260828.jpeg</string>
		<key>pic_small</key>
		<string>http://musicdata.baidu.com/data2/pic/73cd13e53756a3e3a8ebf5e53a5653fa/269260834/269260834.jpeg</string>
		<key>publishcompany</key>
		<string>StreetVoice</string>
		<key>songs_total</key>
		<string>5</string>
		<key>title</key>
		<string>身心灵不全</string>
	</dict>
</array>
</plist>
