<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>content</key>
		<string>八月未央，床头上放着那本安妮宝贝的《八月未央》。书旁边躺着一枚青果，那是女朋友梅于光阴的藤架上采摘下的果子。梅说，她喜欢各种果子。作为一名辛勤园丁职业的女子，付出无数心血，终有朵朵花儿开遍大地；一枚枚芬芳的果实，酬以风雨的耕耘。如此思量着，蓦然懂了，为什么梅那么喜欢果子。许是敬业的心，总有一份饱满殷实的期盼吧</string>
		<key>icon</key>
		<string>hua.png</string>
		<key>name</key>
		<string>八月未央，心域一抹清湛的蓝调</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>人应该起码有两个朋友，一个宽容，一个泼辣。宽容的那个，教我们去包涵别人。泼辣的那个，负责替我们教训那些欺负我们的人，我们只需要站在旁边看热闹就可以了。</string>
		<key>icon</key>
		<string>lin.png</string>
		<key>picture</key>
		<string>mei1.jpeg</string>
		<key>name</key>
		<string>宽容</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>男人和女人之间，没有喜欢和好感、没有欣赏和投契、没有无数长夜里推心置腹的谈话，根本做不成好朋友。只做朋友，不做情人，理由太多，就像人间烟火，满目缤纷，这一生，我们拥有许多美丽的相逢，我们爱的，不只一个人，一起终老的，却只能够是缘份最深的那个人；其他的，惟有黯然退下。</string>
		<key>icon</key>
		<string>kong.png</string>
		<key>picture</key>
		<string>mei2.jpg</string>
		<key>name</key>
		<string>美丽的相逢</string>
		<key>vip</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>当一个人忽略你时，不要伤心，每个人都有自己的生活，谁都不可能一直陪你。不要对一个人太好，因为你终会发现，这样时间久了，那个人是会习惯的，然后把你做的一切看作是理所应当。其实本来是可以蠢到不计代价不顾回报的，但现实总是让人寒了心。其实你明明知道，最卑贱不过感情，最凉不过是人心。</string>
		<key>icon</key>
		<string>duo.png</string>
		<key>picture</key>
		<string>mei3.jpg</string>
		<key>name</key>
		<string>勇敢做自己</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>不知道，你是缘分安排的最美的相逢，还是我宿命的错误？和你的未来，是我穷尽一生的力气去编织的一个梦，花前月下，行影成双，一丈红地毯，三生结连理。痴痴念念，都似朝露清风，停留的瞬间，是我意料不及的短暂。</string>
		<key>icon</key>
		<string>baifumei.jpeg</string>
		<key>picture</key>
		<string>mei4.jpg</string>
		<key>name</key>
		<string>一生的羁绊</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>还记得你第一次的表白，深情款款的目光，唤醒了我沉睡几千年的心房。从此，苏醒的心房里，便长出了一根爱的常青藤，缠缠绕绕一圈又一圈，把心捆绑，一层一层，成了一堵爱的墙。曾经，我尝试着跋涉了几万里，却始终走不出爱的篱墙。</string>
		<key>icon</key>
		<string>liuyan.jpeg</string>
		<key>picture</key>
		<string>mei5.jpg</string>
		<key>name</key>
		<string>最初的美好</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>只有在夜深人静的时候，才会放下自己全副武装的坚强，让眼泪肆意的泛滥。把一曲你爱听的歌，循环播放到深夜十二点，一滴一滴的泪珠，都化作漫天的繁星，变成思念你的眼。不相信，你的爱只是欺骗，不相信，你的承诺，只是一个个的谎言。</string>
		<key>icon</key>
		<string>baby.jpeg</string>
		<key>picture</key>
		<string>mei6.jpg</string>
		<key>name</key>
		<string>爱之深，思之切</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>都怪幸福走得太仓促，生死契阔，与子成说的誓言，还幽幽的回旋在耳畔，时光也没有过去很多年，爱的诗篇，还没有写完，我却只能用一个叫做“回忆”的词，来奠基昨天。如果说爱是烧心灼腹的毒，那么思念就是让肝肠寸断的硫酸。</string>
		<key>icon</key>
		<string>mayanli.jpeg</string>
		<key>picture</key>
		<string>mei7.jpeg</string>
		<key>name</key>
		<string>思念是会呼吸的痛</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>I want to refresh my mind, delete all my problems, undo all my mistakes, and save all the happy moments——我想刷新自己的思维，删除自己的毛病，撤销犯下的错误，保存所有欢乐的时光。</string>
		<key>icon</key>
		<string>mengguangmei.jpeg</string>
		<key>picture</key>
		<string>mei8.jpeg</string>
		<key>name</key>
		<string>改变自己</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>content</key>
		<string>You got a dream,You gotta protect it. People can&apos;t do somethin&apos; themselves, they wanna tell you you can&apos;t do it. If you want somethin&apos;, go get it. Period. -----有梦想，就要捍卫它。人们和你说不可能，只是因为他们自己办不到。想追求什么，就去努力吧，就这样。</string>
		<key>icon</key>
		<string>xiaoqingxin.jpeg</string>
		<key>picture</key>
		<string>mei9.jpg</string>
		<key>name</key>
		<string>追逐梦想</string>
		<key>vip</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
