<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>str</key>
		<string>人无法选择会不会动心，但我们至少要懂得该不该放弃。这就是成长的代价。我依然爱你，只是不喜欢你了。</string>
	</dict>
	<dict>
		<key>str</key>
		<string>喜欢那些只要吃到好吃的食物，脸上就会露出傻傻笑容的人。因为他们懂得感恩，是无比善良的人。
喜欢那些只要吃到好吃的食物，脸上就会露出傻傻笑容的人。因为他们懂得感恩，是无比善良的人。
年轻时我们放弃的，以为那只是一段感情，后来才知道，那其实是一生。</string>
	</dict>
	<dict>
		<key>str</key>
		<string>希望你的笑容都是发自内心的，希望你那么忙，做的都是自己热爱的事。</string>
	</dict>
	<dict>
		<key>str</key>
		<string>懂事，让我懂了很多不该懂的事，人，偶尔大醉一次，似乎无可厚非，醒来，就是再生，有时候在乎的太多，对自己也是种折磨。</string>
	</dict>
	<dict>
		<key>str</key>
		<string>不要以为你放不下的人同样会放不下你，鱼没有水会死，水没有鱼却会更清澈。该来的都会来，该走的全会走，别抗拒，别挽留。</string>
	</dict>
</array>
</plist>
